@import url();

body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 90%;
	line-height: 1.6em;
	text-align: left;
	margin: 0 auto;
	//margin-left: auto;
	//margin-right: auto;
	width: 800px;
	padding: 0;
	color: rgb(0, 0, 0);
}

a, a:link, a:visited {
	text-decoration: none;
	color: #991F08;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

img {
	border: 0;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
}

#header
{
    margin-bottom: 20px;
}

#header nav a
{
    height: 20px;
    line-height: 20px;

    padding: 5px;
    margin-right: 5px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: #555555;
    color: #ffffff;
}

#header nav a:hover
{
    background: #000000;
}

#header h1
{
//	text-decoration: underline;
	border-bottom: 3px solid #000000;
	width: 50%;
}

.post, .posts, #contact
{
	width: 100%;
	padding: 20px;
	background: #EBEBEB;
	border-bottom: 3px solid #000000;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.posts
{
	border-top: 3px solid #000000;
	border-bottom: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

ul.posts
{
	list-style: none;
}
ul.posts span.date, p.meta
{
	color: #515151;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
}
ul.posts a, .post a
{
	color: #991F08;
}
a.permalink
{
	color: #991F08;
}
#footer
{
	text-align: center;
    margin-top: 50px;
}

pre
{
    background: #666;
    color: #ccc;
}
