/*reset*/

body
{
	font-family: Ubuntu, Helvetica, Arial, Verdana, sans-serif;
	font-size: 90%;
	line-height: 1.6em;
	text-align: left;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

    width: 70%;
    max-width: 996px;
	min-width: 480px;
}

img {
	border: 0;
}

h1 {
	font-size: 1.8em;
	font-weight: light;
	font-family: 'Josefin Slab', Georgia, serif;	
}

h2 {
	font-size: 1.8em;
	font-weight: 600;
	font-family: 'Josefin Slab', Georgia, serif;	
}


header
{
    background: url("../images/header.jpg") #3965CF;
    //border: 4px solid #222;
    border-bottom: none;
    display: block;
    height: 296px;
    width: 100%;
    margin: 0px;
    text-align: left;
    color: #fff;
    padding-right: 24px;
	padding-top: 4px;
	padding-left: 4px;

	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
		
}
header h1
{
	position: relative;
	margin-top: 200px;
}
header li
{
    list-style: none;
}
header a
{
    background: rgba(0,0,0,0.3);
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-top: 1px solid rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    -moz-transition-property: background;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background;
    -webkit-transition-duration: 1s;
    float: right;
    margin-right: 30px;
}
header a:hover
{
    background: rgba(0,0,0,0.7);
}
header a, headera:visited
{
    color: #fff;
    text-decoration: none;
    line-height: 100%;
}
#lastPost, #post
{
    background: #DDD;
    color: #000;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
	border-top: 4px solid #FF7300;
    width: 100%;
}
#lastPost a h2, #post a h1
{
    text-decoration: underline;
    color: #000;
}
#Art
{
    background: #222;
    padding: 10px;
    color: #fff;
    padding-left: 14px;
    padding-right: 14px;
    border-top: 4px solid #3965CF;
    width: 100%
}
.dark, .light
{
	background: #222;
	padding: 10px;
	color: #fff;
	padding-left: 14px;
	padding-right: 14px;
	border-top: 4px solid #3965CF;
	width: 100%;
}
.dark a
{
	color: #fff;
}
.light
{
	background: #ddd;
	border-top: 4px solid #FF7300;
	color: #000;
}
.dark img, .light img
{
    width: 100px;
    margin-left: 10px;
    border: 3px solid #888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-transition: all 300ms;
}
.dark img:hover, .light img:hover
{
	border: 3px solid #FF7300;
}


pre
{
	font-family: 'Inconsolata', courier, serif;
    background: #222;
    color: #fff;
    padding: 3px;
    padding-left: 10px;
    border-left: 10px solid #444;
}

span.date
{
	color: #515151;
	font-family: Inconsolata, "Courier New", monospace;
}

ul.posts a 
{
	color: #000;
	text-decoration: underline;
}
ul.posts li a:hover
{
	color: #991f08;
	text-decoration: none;
}

#more
{
	background: #222;
	width: 140px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
}
#more a
{
	margin-left: 5px;
	padding: 3px;
	padding-left: 50px;
	padding-right: 50px;
	background: #FF7300;
	width: 200px;
	-moz-border-radius: 3px;
	color: #fff;
	text-size: 15pt;
	text-decoration: none;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	
	font-size: 1em;
	font-weight: bold;
	font-family: 'Droid Sans', arial, serif;	

	-moz-transition-property: -moz-box-shadow;
	-moz-transition-duration: 300ms;
}
#more a:hover
{
	background: #FF8700;
	-webkit-box-shadow: 0px 1px 1px #a2becf;
	-moz-box-shadow: 0px 1px 1px #fff;
	box-shadow: 0px 1px 1px #fff; 
}
.moreArticles
{
	border-top: none;
	text-align: center;
	-moz-transition-property: background;
	-moz-transition-duration: 500ms;
}
.moreArticles:hover 
{
	background: #333;
	color: #000;
}

#footer
{
	background: #000;
	color: #fff;
	text-align: center;
	width: 100%;
	padding: 14px;
	border-top: 1px solid #666;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#footer a
{
	color: #fff;
	text-decoration: underline;
}
.tooltip:after{ content:attr(alt); display:none; }
.tooltip:hover::after
{ 
	width: 100px;
	margin-left: 10px;
	display:block;
	background: #ddd;
	color: #000;
	padding: 3px;
	border: 2px solid #FF7300;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	position: absolute;

}

.toolitp { position: relative; }
