<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Philippe Mongeau</title>
	<!--Atom feed-->
	<link rel="alternate" type="application/atom+xml" title="Philippe Mongeau" href="/atom.xml" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
    <script src="/js/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
    <link media="all" href="/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" rel="stylesheet" />
    <link media="all" href="/css/style.css" type="text/css" rel="stylesheet" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->    
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:light,600' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />
	<!--meta name="viewport" content="width=device-width; initial-scale=1.0"-->
	<!-- openid -->
	<link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" /> 
	<link rel="openid2.local_id" href="http://www.google.com/profiles/ph.mongeau" />
	<!-- google buzz -->
	<link rel="me" type="text/html" href="http://www.google.com/profiles/ph.mongeau"/>
	
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
			<li>
                <a href="/blogue">Blogue</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
		<h1><a href="/">PhMongeau</a></h1>
    </header>
    <div id="content">
    	{{content}}
    </div>
	<div id="footer">
	    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ca/"><img alt="Creative Commons License" style="border-width: 0pt;" src="http://i.creativecommons.org/l/by-nc-sa/2.5/ca/80x15.png"/></a> <a href="mailto:&#112;&#104;&#046;&#109;&#111;&#110;&#103;&#101;&#097;&#117;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Philippe Mongeau</a></p>
		<p> 
	</div>
</body>
<!--FancyBox-->
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#Art a.gal").fancybox();
    });
</script>
<!--Analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12578453-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
