---
layout: default
---

<div class='post'>
	
	<a href="{{page.url}}"><h1>{{page.title}}</h1></a>
	{{content}}
	
	<script type="text/javascript">
	    tweetmeme_style = 'compact';
	    tweetmeme_source = 'phmongeau';
	    tweetmeme_service = 'bit.ly';
	    tweetmeme_service_api = 'bit.ly_phmongeau:bit.ly_R_2a7173574ff14c51b0514fa70f4634df';
	</script>
	<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
	
	<br>
	
	<a title="Publier sur Google Buzz" class="google-buzz-button" href="https://www.google.com/buzz/post" data-button-style="small-count" data-locale="fr"></a>
	<script type="text/javascript" src="https://www.google.com/buzz/api/button.js"></script>
	
	<br>
	
	<a class="permalink" href="{{ page.url }}#disqus_thread"></a>

</div>

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/phmongeau/embed.js"></script>
<noscript><a href="http://disqus.com/forums/phmongeau/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
